* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Karla", sans-serif;
  background-color: #F5F7FB;
}
.quiz-start {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: auto;
  margin: auto;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;

  color: #293264;
}
.description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #293264;
}

.start-button {
  width: 193px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  background: #4d5b9e;
  border-radius: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #f5f7fb;
}

.start-button:focus {
  outline: none;
}
.start-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.question{
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-left: 2rem;
}

.selected{
  background: #D6DBF5;
   width: auto;
   height: auto;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 12px;
   color: #293264;
   border-radius: 7.94239px;
   margin-right: 15px;
}
.wrong{
  background: #F8BCBC;
  width: auto;
  height: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 12px;
  color: #293264;
  border-radius: 7.94239px;
  margin-right: 15px;
}  
.correct{
  background: #94D7A2;
   width: auto;
   height: auto;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 12px;
   color: #293264;
   border-radius: 7.94239px;
   margin-right: 15px;
}
.options-container {
  margin-left: 2rem;
}
.options {
  width: auto;
  height: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 12px;
  color: #293264;
  background-color: #F5F7FB;
  margin-right: 15px;
  border: 0.794239px solid #4D5B9E;
  box-sizing: border-box;
  border-radius: 7.94239px;
}
.check-button {
  display: flex;
  justify-content: center;
  height: 35px;
  
}
.check-answers {
  width: 120px;
  border-radius: 10px;
  background: #4D5B9E;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
}
.check-answers:focus {
  outline: none;
}

.check-answers:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.play-again {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12.8px;
  line-height: 15px;
  margin-right: 2px;
  text-align: center;
  color: #293264;

}
